@keyframes gradientShift {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, rgb(241, 48, 125), rgb(72, 133, 238));
  background-size: 200% 200%;
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0; 
  display: flex;
  color: white;
  justify-content: center;
  align-items: center; 
  animation: gradientShift 10s ease infinite;
  overflow: hidden;
}

.icons-left, .icons-right {
    bottom: 20px;
    display: flex;
    gap: 20px;
  }
  
  .icons-left { left: 20px; }
  .icons-right { right: 20px; }
  
  .icon {
    font-size: 1.5em;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
  }
  
  .icon:hover {
    color: rgb(60, 0, 255);
    transform: scale(1.2);
  }

  .info-card {
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 80%;
  }
  
  .card-title {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .card-content {
    font-size: 1em;
    opacity: 0.8;
  }
  
  .left-image {
    left: 5%; 
    top: 10%; 
    width: 300px;
    height: auto; 
  }
  
  